{
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "singleQuote": false,
  "endOfLine": "lf",
  "useTabs": false
}
