:root {
  --gap-blocks: 1rem;
  --font-size-base: 1rem;
  --font-size-h1: 1.875rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-small: 0.75rem;
  --font-size-medium: 0.875rem;
  --padding-default: 16px;
  --padding-medium: 12px;
  --padding-small: 8px;
  --border-radius: 4px;
  --max-img-width-large: 39.5rem;
  --max-img-width-medium: 31.25rem;
  --max-img-width-small: 18.75rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-blocks);
}


body {
  background-color: rgb(36, 36, 36);
}

* {
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.81);
  font-weight: 400;
  margin: 0;
}

html {
  font-size: 16px;
}

p, li, details, details p {
  margin-left: 15px;
  font-size: var(--font-size-base);
  margin-top: 0;
  word-wrap: break-word;
  max-width: 100%;
}
h1 {
   margin-left: 15px;
  font-size: var(--font-size-h1);
}

h2 {
   margin-left: 15px;
  font-size: var(--font-size-h2);
}

h3 {
   margin-left: 15px;
  font-size: var(--font-size-h3);
}

ul, ol {
  list-style-position: inside; /* Muestra los marcadores o números dentro del bloque de contenido */
  padding-left: 0; /* Quita el padding izquierdo */
}



div {
  width: 100%;
  height: 1px;
  background-color:#ffffff21;
}

span {
  background-color: #333;
  padding: var(--padding-default);
  border-radius: var(--border-radius);
  display: block;
  width: 100%;
  font-size: var(--font-size-base);
}

span span {
  display: inline;
  padding: 0;
}

span strong {
  font-weight: bold;
}

img {
  max-width: var(--max-img-width-large);
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

@media (max-width: 768px) {
  span {
    padding: var(--padding-medium);
    font-size: var(--font-size-medium);
  }

  img {
    max-width: var(--max-img-width-medium);
  }
}

@media (max-width: 480px) {
  span {
    padding: var(--padding-small);
    font-size: var(--font-size-small);
  }

  img {
    max-width: var(--max-img-width-small);
  }
}