<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../styles/styles.css" rel="stylesheet">
    <title>{{title}}</title>

  <style>
    /* REVIEW: Perhaps using a file instead would be best for SEO, since CSS styling files can be cached? Including the style inlined could actually degrade load time performance, since the CSS file is no longer loaded asynchronously, but instead directly downloaded along with the page. */
    
  </style>
  </head>
  <body>
    {{{content}}}
    <blockquote class="border-l-2 ps-2 p-1">Hello World</blockquote>

    <div class="flex gap-2 items-center">
      <input class="size-3.5 appearance-none border-2 checked:border-none checked:bg-checkIcon checked:bg-blue-700" type="checkbox" disabled />
      Hello World
    </div>
    <details>
      <summary><span class="text-h1 break-words">Heading1</span></summary>
      <blockquote class="border-l-2 ps-2 p-1">Hello World</blockquote>
    </details>

    <div class="callout">
      <img class="icon" />
      <p><span>Aqui una breve descripción</span></p>
    </div>


    <h1 class="text-h1"><span class="text-red-700">Heading1</span></h1>
    <h2 class="text-h2">Heading2</h2>
    <h3 class="text-h3">Heading3</h3>
    <footer>
      <p>Yurixander Ricardo &amp; Contributors &copy; 2023 &bull; All right reserved.</p>
    </footer>
  </body>
</html>
