@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gap-blocks: 1rem;
  --font-size-title: 2.25rem;
  --font-size-base: 1rem;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-small: 0.75rem;
  --font-size-medium: 0.875rem;
  --padding-default: 16px;
  --padding-medium: 12px;
  --padding-small: 8px;
  --border-radius: 4px;
  --max-img-width-large: 39.5rem;
  --max-img-width-medium: 31.25rem;
  --max-img-width-small: 18.75rem;
}
p {
  @apply leading-relaxed;
}

h1,
h2,
h3 {
  @apply font-raleway font-bold;
}

h1 {
  @apply text-3xl w-max;
}

h2 {
  @apply text-2xl w-max;
}

h3 {
  @apply text-xl w-max;
}

a {
  @apply hover:underline;
}

* {
  @apply box-border;
}

html,
body {
  @apply space-y-4 font-merrinweather text-dark bg-defaultBg dark:text-white dark:bg-defaultBgDark;
}

body {
  @apply items-center w-full flex p-5 flex-col gap-2;
}

ul {
  @apply list-disc list-inside;
}

li {
  @apply max-w-full break-words mt-0 p-1;
}

ol {
  @apply list-decimal pl-4;
}

blockquote {
  @apply border-l-2 ps-2 p-1;
}

input[type="checkbox"] {
  @apply size-3.5 appearance-none border-2;
}

input[type="checkbox"]:checked {
  @apply border-none bg-checkIcon bg-blueCheckbox;
}

.checkbox-container {
  @apply flex gap-2 items-center;
}

.callout-container {
  @apply flex gap-2 p-2 rounded-md bg-calloutBgColor dark:bg-calloutBgColorDark;
}

.callout-container > .icon {
  @apply size-5;
}

.details-container {
  @apply p-4;
}

details > summary {
  @apply flex items-center cursor-pointer list-none;
}

details > summary::-webkit-details-marker {
  @apply hidden;
}

details > summary:before {
  content: "▶";
  @apply mr-2 text-xs;
}

details[open] > summary:before {
  content: "▼";
}

img {
  @apply max-w-xl max-h-56 object-cover;
  @apply sm:w-1/3 sm:h-auto;
}

code {
  @apply bg-calloutBgColor p-1 w-max rounded text-red dark:bg-calloutBgColorDark;
}

iframe {
  @apply w-full h-auto;
  @apply sm:w-3/4 sm:h-auto;
  @apply md:w-1/2 md:h-auto;
  @apply lg:w-1/3 lg:h-auto;
}

.page-title {
  @apply text-5xl font-raleway font-bold;
}

.cover {
  @apply flex flex-col gap-3;
}

.cover > img {
  @apply max-w-screen-2xl w-full sm:w-full sm:h-auto;
}

.spacer {
  @apply size-4;
}
