@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gap-blocks: 1rem;
  --font-size-title: 2.25rem;
  --font-size-base: 1rem;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-small: 0.75rem;
  --font-size-medium: 0.875rem;
  --padding-default: 16px;
  --padding-medium: 12px;
  --padding-small: 8px;
  --border-radius: 4px;
  --max-img-width-large: 39.5rem;
  --max-img-width-medium: 31.25rem;
  --max-img-width-small: 18.75rem;
}

/* TODO: Optimize for CSS properties that are used in HTML. */

h1 {
  @apply text-3xl w-max;
}

h2 {
  @apply text-2xl w-max;
}

h3 {
  @apply text-xl w-max;
}

a {
  @apply underline;
}

* {
  @apply box-border;
}

html,
body {
  @apply font-sans text-dark bg-defaultBg dark:text-white dark:bg-defaultBgDark;
}

body {
  @apply flex p-24 flex-col gap-1;
}

li {
  @apply max-w-full break-words mt-0;
}

ol {
  @apply list-decimal pl-4;
}

blockquote {
  @apply border-l-2 ps-2 p-1;
}

input[type="checkbox"] {
  @apply size-3.5 appearance-none border-2;
}

input[type="checkbox"]:checked {
  @apply border-none bg-checkIcon bg-blueCheckbox;
}

.checkbox-container {
  @apply flex gap-2 items-center;
}

.callout-container {
  @apply flex gap-2 p-2 rounded-md bg-calloutBgColor dark:bg-calloutBgColorDark;
}

.callout-container > .icon {
  @apply size-5;
}

details > summary {
  @apply flex items-center cursor-pointer list-none;
}

details > summary::-webkit-details-marker {
  @apply hidden;
}

details > summary:before {
  content: "▶";
  @apply mr-2 text-xs;
}

details[open] > summary:before {
  content: "▼";
}

img {
  @apply max-w-xl object-cover;
}
